.button {
  width: 240px;
  height: 40px;
  border-radius: 25px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.solid {
  background-color: #1d9bf0;
  color: #fff;
  border: none;
}

.solid:hover:not(:disabled) {
  background-color: #176fab;
}

.transparent {
  background-color: transparent;
  color: #1d9bf0;
  border: 2px solid #fff;
}

.transparent:hover:not(:disabled) {
  background-color: #212020;
}

.light {
  background-color: #fff;
  color: #000;
  border: 2px solid #fff;
}

.light:hover:not(:disabled) {
  background-color: #e6e6e6;
}
