.input {
  width: 45%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #6e6c6c;
  background: #141D26;
  color: white;
}

.iconTwitter {
  font-size: 40px;
  margin-top: 35px;
  transform: rotateX(180deg); 
  transform: scale(-1, -1);
}
.closeModal {
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}
